<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @login_register.user %>
</p>


<%= link_to 'Edit', edit_login_register_path(@login_register) %> |
<%= link_to 'Back', login_registers_path %>
